
.buzz {
    color: #3d88ce;
}

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

.power-marker {
    background-image: url("https://twemoji.maxcdn.com/2/svg/2a-20e3.svg");
}

.buzz-marker {
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f514.svg");
}

.card-body { background: #e9ecef; }
#answer { background: #e9ecef; }

#q_info {
    background: #e9ecef;
    margin-bottom: 0;
}