.stats {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-right: 350px;
}

.buzz {
    color: #3d88ce;
}